doctype html
html(lang="it")

    head.
        <meta charset="utf-8">

        <title>Heal The World now</title>

        <meta name="description" content="Heal the world">
        <meta name="author" content="Luca Ferroni">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="dist/reset.css">
        <link rel="stylesheet" href="dist/reveal.css">
        <link rel="stylesheet" href="dist/theme/blood.css">

        <link rel="stylesheet" href="0/lib/css/from-mte.css">

        <link rel="stylesheet" href="0/lib/responsive-gallery/css/normalize.min.css">
        <link rel="stylesheet" href="0/lib/responsive-gallery/css/gallery.min.css">
        <link rel="stylesheet" href="0/lib/responsive-gallery/css/main.min.css">

    body

        //.barra
            //.titolo 123prova

        .reveal

            // Any section element inside of this container is displayed as a slide
            .slides

                // include slides-0.pug
                include slides-prequel.pug
                include slides-start.pug
                include slides-play.pug
                include slides-adventure.pug
                include slides-me-and-joy-and-diaries.pug
                include slides-end.pug

                .barra.bottom
                    .titolo Chi se ne va che male fa... (cit.)
                    audio(id="musica")
                        source(src="0/assets/Caterina Caselli - Insieme A Te Non Ci Sto Più _AKA Arrivederci Amore_ Ciao_.webm",type="audio/webm")
                    .hashtag #tana-libera-tutti


        script(src="dist/reveal.js")
        script(src="plugin/zoom/zoom.js")
        script(src="plugin/notes/notes.js")
        script(src="plugin/search/search.js")
        script(src="plugin/markdown/markdown.js")
        script(src="plugin/highlight/highlight.js")
        script(src="node_modules/revealjs-animated/dist/revealjs-animated.js")

        script.
            let el_music = document.getElementById('musica');

            // Also available as an ES module, see:
            // https://revealjs.com/initialization/
            Reveal.initialize({
                controls: true,
                progress: true,
                center: true,
                hash: true,

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
            });

                //transition: 'slide', // none/fade/slide/convex/concave/zoom
            Reveal.on( 'slidechanged', event => {
                console.log('Slide num: ' + event.indexh);
                let audios = [
                    [{ src: '0/assets/Caterina Caselli - Insieme A Te Non Ci Sto Più _AKA Arrivederci Amore_ Ciao_.webm', type: 'audio/webm' }],
                    [],
                    [{ src: '0/assets/01-La-Nostra-Relazione.mp3', type: 'audio/mp3'}, 
                     { src: '0/assets/01-La-Nostra-Relazione.ogg', type: 'audio/ogg'}],
                    [{ src: '0/assets/Elisa-Se_Piovesse_Il_Tuo_Nome.mp4', type: 'audio/mp4'}],
                    [],
                    [{ src: '0/assets/03-Tutto-Acceso.mp3', type: 'audio/mp3'}], 
                    [], [], [], [], [],
                    [], [], [], [],
                    [{src: '0/assets/PETER CORRY- THE BOOK OF LOVE Clip by Althea_0_.webm', type: 'audio/webm'}], 
                ];
                
                //event.indexh is the slide number
                let audio_infos = audios[event.indexh];
                if (!audio_infos.length) {
                    el_music.pause();
                    el_music.style.display = 'none';
                } else {
                    el_music.style.display = 'inline-block';
                    el_music.innerHTML = '';
                    for (const audio_info of audio_infos) {
                        el_music.innerHTML += '<source type="'+ audio_info.type + '" src="' + audio_info.src + '">';
                    };
                    el_music.volume = 0.4;
                    el_music.load();
                    if (event.indexh == 0) {
                        // Custom for the first slide
                        el_music.currentTime = 118;
                    };
                    el_music.play();
                }
            });

html

