section(data-background-video="0/assets/Vasco Rossi-Eh...già.mp4",data-background-video-muted="true")

    audio(id="tutto-acceso",controls)
        source(src="0/assets/03-Tutto-Acceso.mp3",type="audio/mp3")

    div.doc-opaque.fragment.animated.move-to(data-animated-duration=80000,data-animated-move-to-left=0,data-animated-move-to-top="-45em",style="border: 1px solid red;")
        p(align="justify") 
            | Quello che potremmo fare io e te /
            | Senza dar retta a nessuno /
            | Senza pensare a qualcuno /
            | Quello che potremmo fare io e te /
            | Non lo puoi neanche credere 
        p(align="justify") 
            | Quello che potremmo fare io e te /
            | Senza pensare a niente /
            | Senza pensare sempre /
            | Quello che potremmo fare io e te /
            | Non si può neanche immaginare
        p(align="justify") 
            | Sai che ho pensato sempre, quasi continuamente /
            | Che non sei mai stata mia /
            | Me lo ricordo sempre, che non è successo niente /
            | Dovevi sempre andar via
        p(align="justify") 
            | Io e te, io e te /
            | Dentro un bar a bere e a ridere /
            | Io e te, io e te /
            | A crescere bambini, avere dei vicini /
            | Io e te, io e te /
            | Seduti sul divano /
            | Parlar del più e del meno
        p(align="justify") 
            | Io e te, io e te /
            | Come nelle favole
        p(align="justify") 
            | Quello che potremmo fare io e te /
            | Non l'ho mai detto a nessuno /
            | Però ne sono sicuro /
            | Quello che potremmo fare io e te /
            | Non si può neanche immaginare
        p(align="justify") 
            | Io e te, io e te /
            | Dentro a un bar a bere e a ridere /
            | Io e te, io e te /
            | A crescere bambini, avere dei vicini /
            | Io e te, io e te /
            | Sdraiati su un divano /
            | Parlar del più e del meno /
            | Io e te, io e te /
            | Come nelle favole /
            | Io e te, io e te
        p(align="justify") 
            | Io e te, io e te /
            | A crescere bambini, avere dei vicini /
            | Io e te /
            | Io e te, io e te /
            | Io e te, io e te /
            | Sdraiati su un divano /
            | Parlar del più e del meno /
            | Io e te /
            | Io e te, io e te /
            | Io e te, io e te /
            | A crescere bambini, avere dei vicini
        p(align="justify") 
            | Io e te /
            | Come nelle favole
        p(align="justify") 
            | Oggi siamo qui. Dicono che questa situazione di pandemia è senza precedenti. /
            | Come nelle favole!


section(data-background-video="0/assets/Domani-21-04-09-Artisti-Uniti-per-l_Abruzzo.mp4")

    p(align="justify") 
        | Grazie per questo segnale di speranza per l'Abruzzo.
    p(align="justify") 
        | Ridiamo il senso del Natale ai nostri bambini.
        | Il senso della Scuola. Il senso del Lavoro. Il senso della Tecnologia.
        | Il senso della Me-dita-zione
        | Tendiamo insieme l'arco di Ulisse e infiliamo i 13 anelli. Solleviamo l'Idra al Sole.
        | Io credo che per portare a termine questo progetto manca un tassello: sono presente.
    p(align="justify") 
        | Basta così, Domani è già qui.

section(data-background-image="0/assets/io.png",data-background-size="contain")

    div.doc-opaque
        h2 Basta così, Domani è già qui
       
        i interprete: Luca Ferroni

section

    h1 CREDITI
    img(src="0/assets/the-lamb.jpg",height="400")
    img(src="0/assets/the-dark.jpg",height="400")
    img(src="0/assets/the-resistance.jpg",height="400")
    img(src="0/assets/la-vita-bella.jpg",height="400")
