
section(data-background-image="0/assets/LaCreazioneFOSDEM2020.jpg",data-background-size="contain")

    h3 Lo specchio nello specchio
    div.doc-opaque
        p(align="center") Uno specchio riflette. 
        p(align="justify") 
        | Offre luce nuova a ciò che già c'è,
        | facilitando interpretazioni belle e improbabili.
        | Consente l'incontro di realtà e fantasia,
        | cui dare ogni giorno, in ogni momento, un nuovo nome.
        p
        | Volente o nolente, 
        br
        | accettiamo ciò che è e proseguiamo il sentiero...

