section(data-background-image="0/assets/amare-kung-fu-panda.jpg",data-background-size="contain")

    h2 e avremo allentato un po' le briglie...

section(data-background-video="0/assets/me-che-suono-io-e-te.mp4")

    div.doc-opaque(style="border: 1px solid green;")
        p E quando mi fido
            br 
            | Non serve che ti fidi tu
            br 
            | Sono come sono
            br 
            | Sono cosa sono
            br 
            | Forse neanche buono
            br 
            | Sono come suono

section(data-background-image="0/assets/AladdinEJasminConESenzaMaschera.jpg",data-background-size="contain")

    h2 Ti va di giocare con me ?

section(data-background-video="0/assets/Domani-21-04-09-Artisti-Uniti-per-l_Abruzzo.mp4")

    div.doc-opaque.fragment.animated.move-to(data-animated-duration=150000,data-animated-move-to-top="-105em",style="border: 1px solid red; margin-top: 10em;")
        p(align="justify") 
            | Ho pensato che questo è il prossimo passo che per me vale.
            | Vale mettersi a cercare insieme il filo di seta negli abissi. 
            | E quando si trova qualcosa, vale la pena tirare fuori un nuovo specchio
            | in cui riconoscersi semplici uomini e donne perché può emozionare. 
            | Può dare una nuova motivazione per vivere.
        p(align="justify") 
            | A questo servono le STAR. Anzi ROCKSTAR: stelle di roccia, stelle solide
            | non invadenti che mostrano la via emozionando nel mare della vita. 
            | Una vita che ognuno impara da sé.
        p(align="justify") 
            | Tutto il resto è noia.
        p(align="justify") 
            | E allora... zaino in spalla e per ridare insieme il senso del Natale ai bambini.
            | Il senso della Scuola. Il senso del Lavoro. Il senso della Tecnologia.
            | Il senso della Meditazione, della Preghiera e della Musica. 
            | Il senso dello stare insieme per ricostruire 
            | il senso dell'Uomo e della Donna. Il senso di Vivere.
        p(align="justify") 
            | Grazie a voi, angeli e supereroi di oggi, grazie a noi, a tutti. Siamo qui. Ora. Per andare tutti a Casa, per la splendida Torre d'Avorio.
        p(align="justify") 
            | Basta così, &#128080;&#127999; &#128080;&#127998; &#128080;&#127997; &#128080;&#127996; &#128080;&#127995; è già qui.

section(data-background-image="0/assets/io.png",data-background-size="contain")

    div.doc-opaque
        h4 Basta così, Domani è già qui
        h2 Hacking 4 Love
       
        i interprete Luca Ferroni
        p diario aperto 
            a(href="https://creativecommons.org/licenses/by/4.0/deed.it") CC-BY 4.0

section(data-background-image="0/assets/DiarioElisa.jpg",data-background-size="contain")

section(data-background-image="0/assets/diario-foglio.jpg",data-background-size="contain")

section

    #mygallery.gallery
        div.thumbs
            div.active(style="background-image: url(0/assets/diario-se-fossi.jpg)")
            div(style="background-image: url(0/assets/diario-1.jpg)")
            div(style="background-image: url(0/assets/diario-2.jpg)")
            div(style="background-image: url(0/assets/diario-3.jpg)")
        div.images
            div.active(style="background-image: url(0/assets/diario-se-fossi.jpg); background-size: contain")
            div(style="background-image: url(0/assets/diario-1.jpg); background-size: contain")
            div(style="background-image: url(0/assets/diario-2.jpg); background-size: contain")
            div(style="background-image: url(0/assets/diario-3.jpg); background-size: contain")
            span.left
            span.right

    script(src="0/lib/responsive-gallery/bower_components/hammerjs/hammer.min.js")
    script(src="0/lib/responsive-gallery/js/main.min.js")

