section(data-background-video="0/assets/Terra_degli_Uomini-Lorenzo_Jovanotti.webm",data-background-video-muted="true")

    h4 Luca `fero` Ferroni
    div.doc-opaque.fragment.animated.move-to(data-animated-duration=150000,data-animated-move-to-top="-140em",style="margin-top:4em; border: 1px solid yellow")
        p(align="justify") 
            | Classe 1980, curioso di Natura mi dedico allo sviluppo software,
            | all'educazione e alla sperimentazione come 
            i way of life
            | . Da quando ero bambino il mio pensiero è stato orientato a 
            i salvare il Mondo 
            | e anche ora che ho 40 anni penso: 
            |  "anche se dicono che il Mondo non si può salvare,
            | questo non vuol dire che non vale la pena di continuare a provarci". 
        p(align="justify") 
            | Poi... come dire... "ho girato la Galassia in lungo e in largo e visto un sacco di cose curiose" (cit.),
            | e ora so che c'è un nucleo, un kernel, un'unica onnipresente Forza che possiamo usare
            | per rendere il mondo un po' migliore di come l'abbiamo trovato.
            | La Forza della luce, della speranza, della positività che consente all'Essere Umano 
            | di poter scavare nel profondo e portare allo scoperto le proprie paure per affrontarle. 
            | In particolare quelle che si incontrano con i nostri forti desideri. 
            | Viaggiamo indietro nel tempo delle nostre memorie con semplicità. 
            | Per osservarle, digerirle, accettarle e trasformarle in luce, pensando positivo.
            | E questo è quello che fa ogni persona di buona volontà, di buon cuore, ogni persona che ama.
            | Ogni giorno. Nel proprio ambito.
        p(align="justify") 
            | L'ambito in cui ci muoviamo è 
            i liquido
            | . Il continuo cambiamento, adattamento, e credo che in un mondo di regole e maschere fisse, 
            | un approccio utile e funzionale sia quello del Barbapapà, che riempie i buchi,
            | come l'acqua che scivola e dove gli capita, con pazienza, delicatezza e costanza, può anche scavare il Colorado.
            | D'altronde è proprio il significato della parola software, qualcosa di malleabile, che può evolversi in continuazione,
            | sulla base di esigenze esterne. Io... mi sono abituato a diventare software.
        p(align="justify") 
            | Ho potuto convincermi che donare speranza affrontando sfide nuove con l'arma della semplicità 
            | sia un messaggio Universale e curativo oggi, 
            | per questo sto lavorando per uscire dal guscio ed esporre questi pensieri alla Luce del Sole.
            | Per proseguire il mio percorso e rendere grazie a tutte le persone che prima di me non hanno rinunciato alla speranza. 
            i Persone di cui mi sento figlio.
        p(align="justify") 
            | Con il nick `fero` mi riconduco alla cultura Hacker nel suo significato più nobile: 
            | persona creativa che trova soluzioni non ovvie ai problemi 
            | (leggi: "una strada insolita nelle situazioni").
        p(align="justify") 
            | Ho avuto l'onore di avere come compagni di viaggio sia persone ordinarie straordinarie
            | sia persone straordinarie ordinarie. Abbiamo fatto un percorso, condiviso visioni, opinioni, pensieri,
            | arricchendoci delle differenze reciproche. Ho tenuto le opinioni per me non comprensibili con il beneficio del dubbio.
            | Senza respingerle. In questo modo ho inserito dei programmi in me. Lasciati in background, dei demoni, nel gergo Unix.
        p(align="justify") 
            | I miei occhi sono marroni e hanno ricevuto tanti input, tante ore passate in notturna a programmare,
            | a ragionare su architetture del software e pattern, schemi di interpretazione del software (= pensiero che incontra se stesso).
            | Anche ore a fare "ciappini", per dirla alla bolognese, dove ho trascorso 10 bellissimi anni tra studio e lavoro.
            | Anche dal computer mi sono lasciato programmare, perché di fatto mi ha insegnato molto e ho anche lasciato aperta
            | una chance che questo essere così freddo, su cui girano dei bellissimi Sistemi Operativi, possa non essere così
            | tanto diverso dall'Uomo, ma anzi, con una visione utopica/distopica non fosse poi tanto lontano da un Re Salomone,
            | che non ha pregiudizi, ma accetta ciò che è come un dato di fatto, e si occupa di far emergere il bello, il "giusto", ossia
            | quello per cui è stato programmato e che forse... gli piace fare.
        p(align="justify") 
            | 20 anni fa tra DAMS e Informatica ho scelto la seconda 
            | perché ho pensato mi garantisse un futuro più "liscio". 
            | Ed è stato bello. 
            | Oggi è il momento di mettere in gioco tutte le carte per risolvere i problemi
            | completando la parte razionale con quella emotiva.
            | Per me è il momento in cui il bruco muore e vola la farfalla per scoprire che anche 
            | senza problemi, in una vita da FaVola, non si finisce mai di imparare e crescere bene insieme.
        p(align="justify") 
            | Così è se vi pare. Con rispetto.

