section(data-background-image="0/assets/Patch-Adams-8-dita.jpg")

    h2 Quante dita vedi ?
    h4 aka: come lo faremo ?

section(data-background-video="0/assets/Vasco Rossi-Eh...già.mp4",data-background-video-muted="true")

    h1 CONNECT THE DOTS

    div.doc-opaque.fragment.animated.move-to(data-animated-duration=200000,data-animated-move-to-top="-150em",style="border: 1px solid green; margin-top: 5em;")
        p(align="justify") 
            | Oggi siamo qui. Dicono che questa situazione di pandemia è senza precedenti. 
            | E noi la prenderemo così.
        p(align="justify") 
            | Faremo 
            b un Aikido 
            | per cogliere l'opportunità di salvare i sogni dei bambini. 
            | Di quelli che non smettono di credere nelle favole e non stanno tanto a guardare le regole.
        p(align="justify") 
            b Quale obiettivo ci poniamo? 
            | Far avverare un sogno: vivere come Uno nel rispetto di Tutti. In com<s>e</s>unione, emanciparci dalla schiavitù mentale. 
            | L'unica regola fissa è che il mondo cambia in continuazione perciò le regole che pretendiamo usare oggi sono fisse da troppo tempo.
            | Per questo sono superate e abbiamo bisogno di cambiare prospettiva. Una prospettiva più felice e fluida, che già esiste ed è praticata.
            | Per fortuna chi ha coltivato il proprio Ego in modo rispettoso di se stesso e degli altri ha già mostrato la via. 
            | È necessario solo fare un raccordo tra i vari ambiti di interesse e dimostrare che 
            | lo schema è sempre quello e funziona: siamo esseri unici e irripetibili, superuomini, miracolosi e limitati tanto quanto è limitato Dio.
        p(align="justify") 
            | Dimostreremo che la mancanza di speranza e la paura del covid19 sono lo stesso lato di una medaglia e la punta di un iceberg:
            | un modo di mostrare l'iceberg ed agire per il meglio insieme. Per dare un senso comune di costruttività, ben-essere e leggerezza.
            | Ognuno di noi può agire per debellare il covid19, 
            i vedendo solo il Sole
            | , 
            i tutti con la faccia verso il Sole
            | . Perché il superuomo è qui. Siamo noi il Sole (e infatti... "Siamo Soli" &#128124;). 
            | I ragazzi già lo fanno, e questo è il loro modo di ragionare. 
            | Potrei fermarmi qui, perché è per loro il Mondo, non per i 
            a(href="https://it.wikipedia.org/wiki/OK_boomer") boomer
            | &#128521. 
            b Come raggiungiamo questo obiettivo?
        p(align="justify") 
            ol
                li Rifiniremo e trasmetteremo un unico messaggio consapevoli della nostra responsabilità calandolo in vari linguaggi, in vari ambiti, con semplicità;
                li Uniremo le pratiche: "Non M'Annoio + EFT contro il covid19", inviteremo la gente a ballare, a provare, a sperimentare, con ritmo, muovere il corpo;
                li Apriremo un portale sulla gratitudine, il ringraziamento è un linguaggio trasversale ad ogni ambito, e con API reputazionali;
                li Potenzieremo l'infrastruttura e i servizi per la Didattica Digitale Integrata Italiana con Software Libero;
                li Potremmo invitare ad un tavolo i manager delle grandi Software House ringraziandoli per il loro successo e confrontarci come evolvere le limitazioni;
                li Useremo il progetto LOLA del GARR per i concerti, per raggiungere fino a 4000 Km di distanza con lo stesso ritardo di una grande sala da concerto per fare un nuovo We are the World o un nuovo Domani;
            Porteremo ancora un po' di disordine, ma come quando si fanno le pulizie di Pasqua per poi rimettere tutto in ordine, un nuovo ordine, bello, facile, felice, comprensibile agli uomini e donne di buona volontà;
        p(align="justify") 
            | Ormai le condizioni favorevoli ci sono da anni. Tutto è stato già scritto. 
            i Supper's ready
            | .
        p(align="justify") 
            | Grazie ai popoli dei cantanti, profeti, letterati, poeti, nuovi sacerdoti, insieme con i vecchi, quelli più tradizionali, l'associazionismo
            | si è già creata una differenza di potenziale enorme perché si chiuda il circuito.
            | Io sono qui per fare la mia parte e provare a chiuderlo. A chiudere questo ciclo.
        p(align="justify") 
            | Sono convinto che il popolo degli Hacker ci aiuterà in questa proposta sfidante, curiosa e divertente, di frontiera.
            | Un popolo con una giusta scintilla, curiosa, "bambinesca", fatta di giochi sfidanti e costruttivi, di metriche e analisi tese a superare i limiti, a creare qualcosa di nuovo.
        p(align="justify") 
            | E a cascata...
            | goccia su goccia il vaso dell'Amore traboccherà. 
            i Here comes the Flood
            | .
        p(align="justify") 
            | E potremmo veramente vivere la possibilità. 
            | Una possibilità unica e... "irripetibile", comunque bella di 
            i dare di nuovo una chance all'Amore
            | , di 
            i emanciparci dalla schiavitù mentale 
            |  e di squarciare il velo del Tempio delle regole che sono utili solo se donano gioia. 
        p(align="justify") 
            i Together we can break this trap 
            | dice Bruce Springsteen in Born to Run. 
            | So che un giorno sarà possibile e credo valga la pena di provare a far sì che questo giorno sia oggi. 
            | Per tutti noi... "One Dream, One Soul, One Prize and One Goal"!

HERE COMES THE FLOOD

section(data-background-image="0/assets/Inhp.png")
        h2 ... e se poi non riesco?
        p(align="justify") 
            | beh ... allora avremo comunque raccontato una bella Storia!

