
section

    section(data-background-video="0/assets/CiVuoleUnFioreSoloAudio.mp4",data-background-opacity="1",data-background-size="contain")
        h4 Benvenut&hearts; in questa esperienza
        p(align="left") Per una migliore fruizione
        ol
            li Usa le frecce in basso a destra per avanzare
            li.fragment Lascia terminare musica e video in ogni slide
            li.fragment Senti ora l'audio? Altrimenti prova da PC
            li.fragment 
                b Procedi quando potrai rilassarti
            li.fragment Puoi interrompere, ma goditi ogni slide
            li.fragment Usa ora la freccia in basso se procederai più tardi...

    section
        h4 Per predisporre l'attenzione 
        ul
            li 
                b Ascolta 
                | una canzone 
                ol.sub-ol
                    li 
                        a(href="https://www.youtube.com/watch?v=fxzonH9rDw4",target="_blank") Anche Fragile (di Elisa)
            li Oppure 
                b ascolta 
                | due canzoni 
                ol.sub-ol
                    li 
                        a(href="https://youtu.be/uNoVQ0HtIdY",target="_blank") Megamix (di Lorenzo Jovanotti)
                    li
                        a(href="https://www.youtube.com/watch?v=fxzonH9rDw4",target="_blank") Anche Fragile (di Elisa)
            li O ecco il primo viaggio gratis in tre canzoni 
                ol.sub-ol
                    li
                        a(href="https://www.youtube.com/watch?v=7V1jqaafa4M",target="_blank") Vivere non è facile (di Vasco Rossi)
                    li 
                        a(href="https://youtu.be/uNoVQ0HtIdY",target="_blank") Megamix (di Lorenzo Jovanotti)
                    li 
                        a(href="https://www.youtube.com/watch?v=fxzonH9rDw4",target="_blank") Anche Fragile (di Elisa)
            li E se hai ora il tempo per procedere, premi la freccia a destra e goditi l'esperienza di rivoluzione &#128513;

