section(data-background-image="0/assets/torre-davorio.jpg").fullcover

    h3 ho sempre creduto che il Mondo stesse soffrendo e ora
    i ...ti porto i miei occhi e il mio cuore...
    p per tornare a casa. Insieme.
    p Mi dispiace. Perdonami. Grazie. Ti amo. (cit.)

section(data-background-video="0/assets/Elisa-Luce_tramonti_a_nord_est-2001.mp4",data-background-video-muted="true")

    h1 9 novembre 2020 
    div.doc-opaque.fragment.animated.move-to(data-animated-duration=150000,data-animated-move-to-top="-300em",style="margin-top:4em; border: 1px solid yellow;")
        p(align="justify") 
            | Siamo ormai nella Torre d'Avorio di Fantàsia. 
            | Il Nulla sta assediando Occhi d'Oro, la Sovrana dei Desideri, perché lei non vive senza sogni. 
            br
            | Gli uomini hanno rinunciato alla responsabilità di crescere verso il bello, come fiori verso il Sole. 
            | E ancor più di crescere i propri bambini con questi valori. E rispettare il loro Tempo.
        p(align="justify")
            | È in questo momento di sofferenza che Bastian 
            | prende coscienza che ha parte nella Storia Infinita.
            | La principessa gli fa capire che anche lui è dentro la Storia e
            | l'importante è il viaggio fatto con Atreiu e AURYN per viverla.
        p(align="justify") 
            | Alla fine del suo personale capitolo. Alla svolta del suo errare.
        p(align="justify") 
            | Bastian vince la paura, accetta la responsabilità che questa è anche la sua storia
            | e che il 
            b suo modo
            |  di vedere e di agire è bello così com'è, perché è.
        p(align="justify") 
            | Nel libro "La Storia Infinita", Bastian fa molti tentativi dopo essere sbarcato in Fantàsia, e molti danni,
            | ma alla fine, attraverso le acque si purifica e ritorna alla sua realtà,
            | consapevole di se stesso e accettandosi per quel che è: 
            | un essere miracolosamente unico e limitato, un tutt'uno con il cosmo, responsabile del creato.


