section(data-background-video="0/assets/Terra_degli_Uomini-Lorenzo_Jovanotti.webm",data-background-video-muted="true")

    p Luca `fero` Ferroni
    div.doc-opaque.fragment.animated.move-to(data-animated-duration=150000,data-animated-move-to-top="-110em",style="margin-top:4em; border: 1px solid yellow")
        p(align="justify") 
            | Classe 1980, curioso di Natura mi sono dedicato allo 
            a(href="https://iorestoacasa.work",target="_blank") sviluppo software
            |  con il 
            a(href="https://pdp.linux.it/news/979/iorestoacasa-arriva-sul-tg1-i-numeri-di-un-successo-nazionale/",target="_blank") team beFair
            |  e all'
            a(href="http://www.befair.it/DossierScuola.pdf",target="_blank") educazione
            | . Ho preso parte e coordinato il 
            a(href="https://pdp.linux.it/makerspace/",target="_blank") MakerSpace nella Biblioteca di Fabriano
            |  , approcciato il 
            a(href="https://docs.google.com/presentation/d/1L-ml1n8vQDhNFYYC8IOaV8X9bxsdhthh14DQd6z4nc8/edit#slide=id.ga6d2f6478b_0_33",target="_blank") Learning Creative Learning (LCL)
            |  e coordino la sezione fabrianese del 
            a(href="https://www.cies.it/progetti/doors/",target="_blank") progetto DOORS
            |  per affrontare le povertà educative con STEM, LCL, ArtEducazione e Pedagogia del Desiderio.
            | Ho attitudine ad esplorare e danzare sulle frontiere 
            a(href="https://www.youtube.com/watch?v=plV1aDr52o0",target="_blank") attraverso la sperimentazione
            | .
            | La musica è nel cuore e suono a modo mio, pianoforte e chitarra. 
            | Il canto pure è nel cuore, anche se mi consigliano di non cantare &#129335;&#127995; &#128519;.
            | Scout, Ping-pong, Camminare, Filosofia, Poesia, Sperimentare, Cambiare.
        p(align="justify") 
            | Ho sempre cercato di mettere a servizio (come un server: essere utile essendo umile) 
            | le mie conoscenze, competenze e abilità per 
            a(href="https://www.youtube.com/watch?v=1bAyMViQV5w",target="_blank") dare speranza e mostrare che un mondo migliore è possibile.
            |  Ho fatto questo anche 
            a(href="https://www.youtube.com/watch?v=557I_-RGjrc",target="_blank") con le mie relazioni
            | .
        p(align="justify") 
            | Nel fare ciò mi sono piacevolmente reso conto di essere più o meno un Barbapapà: 
            | mi metto sempre a fare ciò che non viene fatto... e l'ho anche pagato,
            | ma il risultato è che oggi so cavarmela piuttosto bene in svariate situazioni.
        p(align="justify") 
            | Credo che donare Speranza affrontando sfide nuove con l'arma della semplicità 
            | sia un messaggio Universale e curativo oggi, 
            | per questo sto lavorando per uscire dal guscio ed esporre questi pensieri alla Luce del Sole.
        p(align="justify") 
            | Con il nick `fero` mi riconduco alla cultura Hacker nel suo significato più nobile: 
            | persona creativa che trova soluzioni insolite ai problemi 
            | (leggi: "una strada insolita nelle situazioni").
        p(align="justify") 
            | Ho avuto l'onore di avere come compagni di viaggio sia persone ordinarie straordinarie
            | sia persone straordinarie ordinarie. Ho avuto l'opportunità di creare l'occasione di incontro 
            a(href="https://stallman.org/solidarity-economy.html",target="_blank") tra 2 grandi leader del Software Libero e dell'Economia Solidale.
        p(align="justify") 
            | I miei occhi sono marroni e hanno ricevuto tanti input, tante ore passate in notturna a programmare,
            | a ragionare su architetture del software e pattern, schemi di interpretazione del software (= pensiero che incontra se stesso).
            | Anche ore a fare "ciappini", per dirla alla bolognese, dove ho trascorso 10 bellissimi anni tra studio e lavoro.
        p(align="justify") 
            | 20 anni fa tra DAMS e Informatica ho scelto la seconda 
            | perché ho pensato mi garantisse un futuro più "liscio". 
            | Ed è stato bello. 
            | Oggi è il momento di mettere in gioco tutte le carte per risolvere i problemi
            | completando la parte razionale con quella emotiva.
            | Per me è il momento in cui il bruco muore e vola la farfalla per scoprire che anche 
            | senza problemi, in una vita da FaVola, non si finisce mai di imparare e crescere bene insieme.
        p(align="justify") 
            | Così è se vi pare.

