section(data-background-video="0/assets/Queen - The Show Must Go On _Official Video_ - DASH_V.mp4",data-background-video-muted="true")

    div.fragment.animated.move-to(data-animated-duration=120000,data-animated-move-to-top="-105em")
        img(src="0/assets/LaStoriaInfinitaUnNuovoNome.jpg",style="opacity: 0.8")
        div(style="opacity: 0.8")
            h2 THE END... ?
            h4 rules change or...
            h4 break the broken rules (cit.) or...
            h4 hacking 4 love or...
            h3 TANA LIBERA TUTTI!
            hr
            h3 Credits di una bella storia
            h6 Elisa - Occhi d'Oro, Sovrana dei Desideri
            h6 Lorenzo - Un Papa che balla
            h6 Vasco Rossi - Un "Giovanni il Battista"
            h6 Freddie Mercury - Un Arcangelo Michele
            h6 Peter Gabriel - A Real Rael
            h6 Caterina Caselli - Una "Frigga", moglie di Odino
            h6 Paolo Coelho - Un Guerriero della Luce
            h6 Michel Hende - Un Narratore della Vita
            h6 Eric Fromm - I 4 principi dell'Amore, i 4 assi di un colore solo di Francesco

