doctype html
html(lang="it")

    head.
        <meta charset="utf-8">
        <title>Linux Day 2022 - Fabriano</title>

        <meta name="description" content="Linux Day 2022, la giornata italiana di promozione di GNU/Linux e del Software Libero. Introduzione all'evento di Fabriano">
        <meta name="author" content="Luca Ferroni">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="dist/reset.css">
        <link rel="stylesheet" href="dist/reveal.css">
        <link rel="stylesheet" href="dist/theme/blood.css">

        <link rel="stylesheet" href="5/lib/css/from-mte.css">

    body

        //.barra
            //.titolo 123prova

        .reveal

            // Any section element inside of this container is displayed as a slide
            .slides

                include slides.pug

                .barra.bottom
                    .titolo Linux Day 2022 di Fabriano
                    .hashtag #LinuxDay2022 #Fabriano


        script(src="dist/reveal.js")
        script(src="plugin/zoom/zoom.js")
        script(src="plugin/notes/notes.js")
        script(src="plugin/search/search.js")
        script(src="plugin/markdown/markdown.js")
        script(src="plugin/highlight/highlight.js")
        script(src="node_modules/revealjs-animated/dist/revealjs-animated.js")

        script.
            let el_music = document.getElementById('musica');

            // Also available as an ES module, see:
            // https://revealjs.com/initialization/
            Reveal.initialize({
                controls: true,
                progress: true,
                center: true,
                hash: true,
                transition: "convex",

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
            });

                //transition: 'slide', // none/fade/slide/convex/concave/zoom
            Reveal.on( 'slidechanged', event => {
                console.log('Slide num: ' + event.indexh);
                let a = [{ src: '3/assets/Vasco Rossi - Un Senso.webm', type: 'audio/webm' }]
            });

html


