section(data-background-image="5/assets/LinuxDay2022-Fabriano.png",data-background-size="contain")

section(data-background-image="5/assets/LinuxDay2022-Italia.png",data-background-size="contain")

section(data-background-image="5/assets/RichardStallmann.png",data-background-size="contain")

section(data-background-image="5/assets/LinusTorvalds.png",data-background-size="contain")

section(data-background-image="5/assets/Freedom0-to-use.jpg",data-background-size="contain")

    h2 Libertà 0 
    h3 Usare il programma per qualunque scopo

section(data-background-image="5/assets/Freedom1-to-study-and-modify.jpg",data-background-size="contain")

    h2 Libertà 1
    h3 Studiare come funziona il programma e modificarlo per adattarlo alle proprie esigenze

section(data-background-image="5/assets/Freedom2-to-copy.jpg",data-background-size="contain")

    h2 Libertà 2
    h3 Copiare il programma in modo da aiutare gli altri

section(data-background-image="5/assets/Freedom3-to-improve-and-redistribute.jpg",data-background-size="contain")

    h2 Libertà 3
    h3 Migliorare il programma e distribuirne pubblicamente i miglioramenti

section

    h2 Lavoro
    h3 
        a(href="https://weworkremotely.com/remote-jobs/lemon-io-python-developer-2",target="_blank").fragment ...Arriva un'offerta di lavoro con tecnologie di Software Libero e Open Source...

section

    h2 Dove possiamo imparare oggi
    h3
        a(href="https://stackoverflow.co",target="_blank").fragment Stackoverflow.com

section

    h2 Il metodo open, non solo per sviluppatori
    h3
        a(href="https://stackexchange.com/sites?view=grid#",target="_blank") StackExchange.com

section

    h2 e i contenuti prodotti, come vengono rilasciati?
    img(src="5/assets/cc-by-sa-4.0.png").fragment

section

    img(src="5/assets/cc-by-sa-4.0.png")
    br
    a(href="https://stackoverflow.com/help/licensing") https://stackoverflow.com/help/licensing
    br
    a(href="https://guides.lib.umich.edu/creativecommons/licenses") https://guides.lib.umich.edu/creativecommons/licenses

section(data-background-image="5/assets/wikipedia.png",data-background-size="contain")

    img(src="5/assets/cc-by-sa-4.0.png").fragment
    div.doc-opaque
        ul
            li.fragment 6.565.139 articoli per Wikipedia in inglese
            li.fragment 55M di articoli per Wikipedia in tutte le altre (309) lingue
        a(href="https://en.wikipedia.org/wiki/Wikipedia:Size_comparisons").fragment https://en.wikipedia.org/wiki/Wikipedia:Size_comparisons

section

    img(src="5/assets/cc-by-sa-4.0.png")
    h2.fragment libertà di uso, modifica, copia e redistribuzione
    p.fragment (BY = paternità, SA = condividendo allo stesso modo)

section

    h2 E quindi via 
    h3 al Linux Day 2022 di Fabriano org. da Costin, Dawid, Azzurra e Andrei 
    h4 PDP Free Software User Group di Fabriano
    h4 con...


section(data-background-image="5/assets/LinuxDay2022-Fabriano.png",data-background-size="contain")
