doctype html
html(lang="it")

    head.
        <meta charset="utf-8">

        <title>Lontani ma non soli, UNIPI 26/02/2021</title>

        <meta name="description" content="Primo incontro 'Lontani ma non soli' su strumenti liberi per la didattica a distanza e l'amministrazione pubblica organizzato dal Centro Interdisciplinare Scienze per la Pace e il Centro di Ricerca Interdipartimentale DIRITTO e TECNOLOGIE DI FRONTIERA dell'Università di Pisa.">
        <meta name="author" content="Luca Ferroni">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="dist/reset.css">
        <link rel="stylesheet" href="dist/reveal.css">
        <link rel="stylesheet" href="dist/theme/blood.css">

        <link rel="stylesheet" href="1/lib/css/from-mte.css">

    body

        //.barra
            //.titolo 123prova

        .reveal

            // Any section element inside of this container is displayed as a slide
            .slides

                include slides-intro.pug
                include slides-past.pug
                include slides-interlude.pug
                include slides-done.pug
                include slides-interlude.pug
                include slides-doing.pug
                // include slides-at-the-end.pug

                .barra.bottom
                    .titolo IoRestoACasa.work - isolati, ma non soli. Un percorso educativo o e-duc-attivo by Luca Ferroni
                    .hashtag #tana-libera-tutti


        script(src="dist/reveal.js")
        script(src="plugin/zoom/zoom.js")
        script(src="plugin/notes/notes.js")
        script(src="plugin/search/search.js")
        script(src="plugin/markdown/markdown.js")
        script(src="plugin/highlight/highlight.js")
        script(src="node_modules/revealjs-animated/dist/revealjs-animated.js")

        script.
            let el_music = document.getElementById('musica');

            // Also available as an ES module, see:
            // https://revealjs.com/initialization/
            Reveal.initialize({
                controls: true,
                progress: true,
                center: true,
                hash: true,
                transition: "concave",

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
            });

                //transition: 'slide', // none/fade/slide/convex/concave/zoom
            Reveal.on( 'slidechanged', event => {
                console.log('Slide num: ' + event.indexh);
            });

html

