section

    h2 so we went from day to day...

section(data-background-image="1/assets/spirale-apprendimento-creativo.png")

    div.text-i(style="color:black") tratta dal libro "Come i Bambini" di Mitchel Resnick


