section

    h2 Just do it: costruisci!
    p La logica è open è pervasiva. Una mega-azienda diffusa. Non può essere un nostro problema se alcuni non ne vedono l'opportunità;
    h4 Da oggi decido di approcciarmi in logica costruttiva. Mi avvicino e mi informo assumendomi la responsabilità e il piacere di dare una mano;
    p Modello naturale: ogni cellula cerca il suo posto;

section

    h4 Quando osservo un bel progetto, se voglio dare fiducia
    ol
        li mi connetto ai canali
        li ascolto/leggo
        li attuo soluzioni concrete: patch, issues, doc, agisco
        ul
            li se il mio lavoro è integrato => bene
            li se il mio lavoro non è integrato => bene uguale, verifico le criticità e cresco
        li voglio sostenere, ma non con il mio tempo? "Dona con PayPal"

section

    p Es: 30 anni di Electronic Frontier Foundation

    img(src="1/assets/felpa-EFF.jpg")

    p ho la felpa EFF perché do loro fiducia

section

    p contribuisco arricchendo il progetto con attività concrete;
    p contribuisco valorizzando/donando/risparmiando il tempo a chi già lo dedica al progetto, in modo che possa fare di più di quanto già sta facendo. 

    p Perché so che lo fa già indipendentemente ad me in modo responsabile.

section

    h4 ...e questo può essere oggi, come nel 2012, un messaggio disrupting, su ogni progetto OPEN, è che si dice che il Mondo non l'abbia capito...

section

    div.text-i Dal 2003 ad oggi con il PDP e il MakerSpace di Fabriano siamo andati avanti consapevoli che il Software Libero è una realtà, abbiamo già vissuto per nostra parte Fabriano come città del Software Libero, anche se l'assessorato ha bisogno di tempo per comprendere le dinamiche, o semplicemente ci sono state poche occasioni di collaborazione. Siamo andati avanti con CULTURA, MESSA IN RETE e SOLUZIONI. 

    i E rispetto dei Tempi. Del Tempo che ci vuole.

section(data-background-image="TODO Excelsior")

    h4 Cosa può fare ognuno di noi oggi... in ogni istante:

    ul
        li se ci sentiamo che le soluzioni libere per la Didattica a Distanza già ci sono e possiamo non solo imparare ad utilizzarle, ma prendere parte al percorso di crescita? 
        li se ci sentiamo che le soluzioni libere per la PA già ci sono?
        li se ci sentiamo che le strutture che offrono servizi in questi mondi già ci sono?

section

    h4 Cosa può fare ognuno di noi oggi... in ogni istante:

    ul
        li se ci sentiamo liberi di non aspettare una decisione dall'alto, ma di attivarci dove sentiamo di poterci assumere la nostra responsabilità?
        li se ci sentiamo di non dover aspettare che GAFAM cambi, ma presentiamo loro o alla Silicon Valley scenari e bug da risolvere?
        li e... se ci sentiamo di poter costruire insieme il nuovo Mondo sentendocene campioni? 
        li e magari... se lasciassimo fare ai ragazzi mettendoci a loro disposizione?


section

    h4 annaffiamo un "semino", ed è questo il simbolo del semino in beFair

    img(src="1/assets/befair.png")

    div.text-i Ci siamo tutti, Luca da Fabriano

