section

    h2 FLASHBACK

section

    div.text-i Correva l'anno 2012 e addì il 27, nel quarto sabato del mese di ottobre, a Fabriano, il gruppo di software libero PDP si ritrovava per festeggiare in contemporanea con la community 
        b nazionale 
        | il Linux Day, la XII giornata nazionale per la promozione del sistema operativo GNU/Linux e del Software Libero...

section

    <iframe width="1800" height="500" src="https://www.youtube.com/embed/557I_-RGjrc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

section(data-background-video="1/assets/mediagoblin-sistemacentralizzato.webm",data-background-video-muted="true")

    div.text-i Mostravamo le falle di un sistema centralizzato...
        p (video by MediaGoblin)

section(data-background-video="1/assets/mediagoblin-rete.webm",data-background-video-muted="true")

    div.text-i ... e la resilienza della rete
        p (video by MediaGoblin)

section

    p
        b Proponevamo di ricostruire la città su 3 assi
    ol(style="text-align: left; width:100%;").fragment
        li cultura
        li messa in rete
        li soluzioni
    p.fragment Un percorso: passione, ricerca, sviluppo e continuo miglioramento

section
    img(src="1/assets/slide-dal-2012-ricostruiamo-la-citta.png")

section

    div.text-i E lo slogan "Hackers: nudi con il cervello"

    img(src="1/assets/hackers-nudi-con-il-cervello.png")
