section

    h2 E per il futuro?

section

    h2 Situazione percepita

    ol(style="text-align: left; width:100%;")
        li(style="color: green") Tema supporto
        li(style="color: green") Tema marketing / rete commerciale
        li(style="color: orange") Tema didattica
        li(style="color: red") Tema struttura aziendale
        li(style="color: red") Tema burocrazia

section

    h3 Mancanze o opportunità?

    ul
        li Meno burocrazia più agilità
        li Convention over configuration
        li Agile over Waterfall
        li Win-to-win over Business is business
        li Open over Closed

    p oggi sono più importanti i punti a sinistra invece che di quelli a destra

section

    h3 e questo ci porta a riflettere sul nostro ruolo
    h3 verso la realizzazione di bellezza e verità

section

    img(src="1/assets/free-culture.png")

section

    h2 Just do it: costruisci!
    p La logica è open è pervasiva. Una mega-azienda diffusa. Non può essere un nostro problema se alcuni non ne vedono l'opportunità;
    h4 Da oggi decido di approcciarmi in logica costruttiva. Mi avvicino e mi informo assumendomi la responsabilità e il piacere di dare una mano;
    p Modello naturale: ogni cellula cerca il suo posto;

section(data-background-image="TODO Excelsior")

    h4 Cosa può fare ognuno di noi oggi... in ogni istante:

    ul
        li se ci sentiamo che le soluzioni libere per la Didattica a Distanza già ci sono e possiamo non solo imparare ad utilizzarle, ma prendere parte al percorso di crescita? 

section

    h4 Cosa può fare ognuno di noi oggi... in ogni istante:

    ul
        li se ci sentiamo liberi di non aspettare una decisione dall'alto, ma di attivarci dove sentiamo di poterci assumere la nostra responsabilità?
        li se ci sentiamo di non dover aspettare che GAFAM cambi, ma presentiamo loro o alla Silicon Valley scenari e bug da risolvere?


section

    h4 annaffiamo un "semino", ed è questo il simbolo del semino in beFair

    img(src="1/assets/befair.png")

    div.text-i Ci siamo tutti, Luca da Fabriano

