section

    h2 BACK TO THE FUTURE

section

    ul 
        li 
            b Contesto
            | : lockdown italiano
        li 
            b Bug 
            | : le persone sono lontane dagli affetti e dai luoghi
        li 
            b Challenge
            | : possiamo grazie farle sentire più vicine grazie a soluzioni di videoconferenza con Software Libero?

section

    h2 Cultura comune

    ol(style="text-align: left; width:100%;")
        li HTTPS: HTTP + TLS
        li WebRTC: videoconferenze via web
        li Jitsi Meet: piattaforma libera diffusa e già usata
        li EduMeet: semplice e leggera, entra nel progetto grazie a GARR & GEANT 
        li Docker: installazione veloce e semplificata per tecnici
        li Prometheus + Grafana: misurazione della qualità del servizio
    
section

    h2 Messa in rete

    ol(style="text-align: left; width:100%;")
        li Annuncio in chat
        li Mail ai provider
        li Passaparola

section

    img(src="1/assets/messaggio-iniziale.png")

section(data-background-image="1/assets/sito.png")

    div.doc-opaque
        h3 Soluzioni

        ol(style="text-align: left; width:100%;")
            li Sito
            li Server messi a disposizione
            li Chat Telegram di tecnici che poi è diventata di supporto

section

    h1 GO: 11 marzo 2020

section

    <iframe width="100%" height="700" src="https://iorestoacasa.work/server.html"></iframe>

section

    <iframe width="100%" height="700" src="https://iorestoacasa.work/rassegna-stampa.html"></iframe>

