section

    h2 IoRestoACasa.work
    div.text-i isolati, ma non soli. Un percorso educativo, o e-duc-attivo.
    img(src="1/assets/iorestoacasa-start.png")

section

    div.text-i Made with 
        span(style="color:red;") &#10084;&#65039; 
        | in Fabriano
    img(src="1/assets/IoRestoACasa_core_team.jpg")
    

section

    img(src="1/assets/IoRestoACasa_infografica.jpg")


section

    img(src="1/assets/SLIDE-FROM-AIUCD-2021-con-Massimo-Carboni.png")

